<!DOCTYPE html>
<html>
<head>
	<title>Simple Task App</title>
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="build/css/vendor.css">
</head>
<body ng-app="app">
	<nav>
		<div class="nav-wrapper">
			<a href="#" class="brand-logo center">Simple Task App</a>
		</div>
	</nav>
	<div class="container" ng-controller="TasksController as tasks">
		<div class="row">
			<div class="col m6 offset-m3 s12 center-align">
				<div class="task-to-do-title">
					<h2>To Do ({{ tasks.todo().length || 0 }})</h2>

					<div class="tasks-to-do">
						<ul class="collection">
							<li class="collection-item" ng-repeat="todo in tasks.todo()">
								{{ todo.title }}
								<a href="" class="right" ng-click="tasks.complete(todo)"><i class="material-icons">check</i></a>
								<a href="" class="right" ng-click="tasks.remove(todo)"><i class="material-icons">clear</i></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col m6 offset-m3 s12 center-align">
		        <div class="input-field" ng-show="tasks.adding">
					<input id="task-name" type="text" class="validate" ng-model="task.title">
					<label for="task-name">Task Name</label>
		        </div>

		        <div class="input-field" ng-show="tasks.adding">
					<textarea class="materialize-textarea" id="task-description" type="text" class="validate" ng-model="task.description"></textarea>
					<label for="task-description">Task Details</label>
		        </div>
		    </div>
  		</div>

  		<div class="row">
  			<div class="col m6 offset-m3 s12 center-align">
				<a class="center-align waves-effect waves-light btn" ng-show="!tasks.adding" ng-click="tasks.addNew()">
					<i class="material-icons right">add</i>Add new task
				</a>

				<a class="center-align waves-effect waves-light btn" id="add-task" ng-show="tasks.adding" ng-click="tasks.save(task)" ng-class="(!task.title || !task.description) ? 'disabled' : ''">
					<i class="material-icons right">check</i>Save
				</a>

				<a class="center-align waves-effect waves-light btn" ng-show="tasks.adding" ng-click="tasks.cancel()">
					<i class="material-icons right">clear</i>Cancel
				</a>
			</div>
  		</div>

		<div class="row">
			<div class="col m6 offset-m3 s12 center-align">
				<div class="task-done-title">
					<h2>Done ({{ tasks.done().length || 0 }})</h2>
				</div>

				<div class="tasks-done">
					<ul class="collection">
						<li class="collection-item" ng-repeat="done in tasks.done()">
							{{ done.title }}
							<a href="" class="right" ng-click="tasks.remove(done)"><i class="material-icons">clear</i></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<script src="build/js/vendor.js"></script>
	<script src="build/js/app.js"></script>
</body>
</html>